table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding-top: 18px;
    padding-left: 20px;
}

tr:nth-child(even) {background-color: gainsboro;}

ul ,button {padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    font-size: 25px;
    outline: none;
}

button {width: 20%;
    color: red;
    text-align: center;
    padding: 10px 10px;
    border-radius: 30px;
}

* {
    box-sizing: border-box;
}

input[type=text], .password, .number, select, textarea {
	
    outline: none;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
	
}

.submit2 {width: 50%;
    background-color: skyblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}

.submit2:hover, .submit:focus, button:hover, button:focus {
    background-color: darkcyan;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75{
        width: 100%;
        margin-top: 0;
    }
}

.submit{outline: none;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: lightgreen;
        float: none;
}
.submit:hover, .submit:focus {
  background-color: deepskyblue;
}


form{
	
        padding: 2%;
		align-content: center;
		border: 3px solid green;
		background-color: lightblue;
		padding: auto;
		width: 50%;
		border-radius: 10px;
		text-align: center;
		font-style: bold;
	font-family:cursive;
	}
search {
    outline: none;
    width: 50px;
    border-radius: 20px;
    border: 1px solid #ccc;
    resize: vertical;
}

label1 {
    
    display: inline-block;
}




